<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
   <servlet>
  	<servlet-name>UserRegisterAndLoginController</servlet-name>
  	<display-name>UserRegisterAndLoginController</display-name>
  	<description></description>
  	<servlet-class>com.codewithluck.controller.UserRegisterAndLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginController</servlet-name>
  	<display-name>AdminLoginController</display-name>
  	<description></description>
  	<servlet-class>com.codewithluck.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConsulterLoginController</servlet-name>
  	<display-name>ConsulterLoginController</display-name>
  	<description></description>
  	<servlet-class>com.codewithluck.controller.ConsulterLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogOut</servlet-name>
  	<display-name>AdminLogOut</display-name>
  	<description></description>
  	<servlet-class>com.codewithluck.controller.AdminLogOut</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminConsulterController</servlet-name>
  	<display-name>AdminConsulterController</display-name>
  	<description></description>
  	<servlet-class>com.codewithluck.controller.AdminConsulterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManageAppointmentController</servlet-name>
  	<display-name>ManageAppointmentController</display-name>
  	<description></description>
  	<servlet-class>com.codewithluck.controller.ManageAppointmentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookAppoinmentController</servlet-name>
  	<display-name>BookAppoinmentController</display-name>
  	<description></description>
  	<servlet-class>com.codewithluck.controller.BookAppoinmentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignOut</servlet-name>
  	<display-name>SignOut</display-name>
  	<description></description>
  	<servlet-class>com.codewithluck.controller.SignOut</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userLogOut</servlet-name>
  	<display-name>userLogOut</display-name>
  	<description></description>
  	<servlet-class>com.codewithluck.controller.userLogOut</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AcceptreportController</servlet-name>
  	<display-name>AcceptreportController</display-name>
  	<description></description>
  	<servlet-class>com.codewithluck.controller.AcceptreportController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AcceptController</servlet-name>
  	<display-name>AcceptController</display-name>
  	<description></description>
  	<servlet-class>com.codewithluck.controller.AcceptController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserRegisterAndLoginController</servlet-name>
  	<url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRegisterAndLoginController</servlet-name>
  	<url-pattern>/getUserRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginController</servlet-name>
  	<url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConsulterLoginController</servlet-name>
  	<url-pattern>/ConsulterLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogOut</servlet-name>
  	<url-pattern>/AdminLogOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminConsulterController</servlet-name>
  	<url-pattern>/adminconsulter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminConsulterController</servlet-name>
  	<url-pattern>/getadminconsulter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageAppointmentController</servlet-name>
  	<url-pattern>/appoinment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageAppointmentController</servlet-name>
  	<url-pattern>/getappoinment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookAppoinmentController</servlet-name>
  	<url-pattern>/BookAppoinment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookAppoinmentController</servlet-name>
  	<url-pattern>/getBookAppoinment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignOut</servlet-name>
  	<url-pattern>/SignOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userLogOut</servlet-name>
  	<url-pattern>/userlogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AcceptreportController</servlet-name>
  	<url-pattern>/accept</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AcceptreportController</servlet-name>
  	<url-pattern>/getaccept</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AcceptController</servlet-name>
  	<url-pattern>/acceptcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AcceptController</servlet-name>
  	<url-pattern>/getacceptcontroller</url-pattern>
  </servlet-mapping>
</web-app>
